<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{60,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{98,1},{60,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{1,63},{60,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{174,1},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{72,63},{60,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{142,63},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1,125},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{75,125},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{143,125},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{60,95}</string>
                <key>textureRect</key>
                <string>{{1,187},{60,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{98,187},{60,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{168,187},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1,249},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{75,249},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{143,249},{60,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{1,311},{60,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{77,311},{60,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blockAltas.png</string>
            <key>size</key>
            <string>{241,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40098be41abd09ead2bf738f7d3173e8:f625c10b28fce17356a309b2a1d9355b:efd1981ab63da28f3f6677b7c162ecb2$</string>
            <key>textureFileName</key>
            <string>blockAltas.png</string>
        </dict>
    </dict>
</plist>
