<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{37,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{81,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{125,1},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{166,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af6bd720d6903d979c3ea8e2966e288:a0b2f44524d4c16217ac2b37ec0fb79b:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
