<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{112,0},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{168,0},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_down_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{56,67},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{112,67},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{168,67},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{0,134},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{56,134},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{112,134},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{168,134},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{56,201},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_right_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{112,201},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{168,201},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{0,268},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{56,268},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{112,268},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{168,268},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster1.png</string>
            <key>size</key>
            <string>{224,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:916f98cd6f215920a4d29eb093d72310:87579f5d332a65c554d0d197b700ca6c:a883e8420f31a0138985457757d94c24$</string>
            <key>textureFileName</key>
            <string>monster1.png</string>
        </dict>
    </dict>
</plist>
